<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>PizzaApp</title>

    <!-- Boostrap & jQuery -->
    <script src="libs/jQuery/dist/jquery.slim.min.js"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css" type="text/css">

    <!-- Angular -->
    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="app.js"></script>


</head>

<body ng-controller="pizzaController">

<div class="container">
    <!--Titel Div-->
    <h1>PizzaApp</h1>
    <hr/>
</div>

<div class="container routingView">

    <div class="col-md-2">
        <!--Routing Div-->
        <div class="btn-group-vertical">
            <a class="btn btn-group-lg btn-default col-md-12" href="/#!/pizza">Pizzen</a>
            <a class="btn btn-group-lg btn-default col-md-12" href="/#!/warenkorb">Warenkorb ({{warenkorb.length}})</a>
            <a class="btn btn-group-lg btn-default col-md-12" href="/#!/info">Über uns</a>
        </div>

    </div>

    <div class="col-md-10 content" ui-view> <!-- Content Div -->

    </div>
</div>

</body>

</html>
