.inputSearch {
    margin-top: 2%;
    margin-bottom: 2%;
}

.routingView {
    margin-top: 2%;
}

.pizzaHeader {
    margin-top: -1%;
}

.delWarenkorb {
    margin: 1.1%;
}

#gesamtKosten {
    margin-left: -2.3%;
}