<h2 class="pizzaHeader">Über uns</h2>

<br>
<!--Content Div-->
<div class="pizzaTable">
    <p>
        Make pizza great again with my Website. I make the best pizzas, all other pizzas are frauds.
        <br> <br>

        Our pizza is only with mozarella cheese, not some mexican halapeno cheese. That's fake pizza.
        <br> <br>

        No other pizza website has achieved so much in such little time. I am Pizza.
        <br> <br>
    </p>
</div>