<h2 class="pizzaHeader">Unsere Pizzaangebote!</h2>

<input type="text" ng-model="search" placeholder="Suche" class="inputSearch">

<br>
<table class="table table-striped pizzaTable">
    <thead>
    <tr>
        <th>Pizza</th>
        <th>Kosten</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in list | filter: search">
        <td>{{item.name}}</td>
        <td>{{item.kosten | currency: '€'}}</td>
        <td>
            <button ng-click="addToWarenkorb(item)">+</button>
        </td>
    </tr>
    </tbody>
</table>