<h2 class="pizzaHeader">Dein Warenkorb!</h2>

<input type="text" ng-model="search" placeholder="Suche" class="inputSearch">

<br>
<!--Content Div-->
<table class="table table-striped pizzaTable">
    <thead>
    <tr>
        <th>Pizza</th>
        <th>Kosten</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in warenkorb| filter:search track by $index">
        <td>{{item.name}}</td>
        <td>{{item.kosten | currency: '€'}}</td>
    </tr>
    </tbody>
</table>

<br>

<div class="container">
    <h3 class="col-md-6" id="gesamtKosten">Gesamtkosten: {{gesamtKosten | currency: '€'}}</h3>
    <button class="btn-default btn delWarenkorb" ng-click="placeOrder()">Bestellen</button>
    <button class="btn btn-default delWarenkorb" ng-click="emptyWarenkorb()">Warenkorb löschen</button>
</div>


